.nav {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 166, 0, 0.945);
    justify-content: flex-end;

}
.logo {
    display: flex;
    flex-grow: 2;
}
.links{
    display: flex;
    flex-direction: row;
    margin: auto auto;
    flex-grow: 0;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0px 40px;
    
}

.links > a{
    transition: .3s;
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 18px;
    flex-wrap: nowrap;
}

.links > a:hover{
    transition: .3s;
    color: rgb(255, 255, 255);
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 166, 0, 0.945);
    padding: 40px 40px;
}

.linksF{
    display: flex;
    flex-direction: row;
    margin: auto 50px;
    flex-grow: 1;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 15px;
    
}

.linksF > a{
    transition: .3s;
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 15px;
    
}

.linksF > a:hover{
    transition: .3s;
    color: rgb(255, 255, 255);
}
.copyright{
    display:flex;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.hero{
    display:flex;
    background-image: url(../images/hero-image.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
}

.heroText{
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: bolder;
    font-size: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    width: fit-content;
    height:fit-content;
}